@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700&display=swap');

:root {
  --primary-color1: #042940;
  --secondary-color1: #005c53;
  --secondary-color2: #9fc131;
  --accent-color1: #f26027;
  --accent-color2: #d6d58e;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  min-height: 100vh;
  color: var(--primary-color1);
  background-color: var(--secondary-color2);
  font-size: 16px;
}
h1 {
  text-align: center;
  margin: 0.62em;
}
h2 {
  position: relative;
  margin-left: 2.12em;
}
h3 {
  margin-bottom: 1em;
  padding-top: 1em;
}
h2::after {
  content: '';
  position: absolute;
  height: 0.25em;
  width: 6.25em;
  background-color: #444;
  border-radius: 1.25em;
  bottom: -0.31em;
  left: 0px;
}
.container {
  margin: 0 auto;
  max-width: 81.25em;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.87em;
  margin-bottom: 4.37em;
}
li {
  background-color: #fff;
  border-radius: 0.35em;
  overflow: hidden;
  font-size: 0.87em;
  list-style-type: none;
  margin: 1.42em;
  /* margin-inline: 0.71em; */
  text-align: center;
  width: 25em;
}
li > a {
  display: block;
  border-bottom: #000;
}
li img {
  display: block;
  object-fit: cover;
  height: 14.28em;
  width: 25em;
}
button {
  background-color: var(--accent-color1);
  color: whitesmoke;
  border: none;
  font-weight: bold;
  border-radius: 1.42em;
  padding: 0.5em 1.07em;
  margin-bottom: 0.71em;
  cursor: pointer;
  transition: transform 0.5s ease;
}
button:hover {
  opacity: 0.8;
}
button:active {
  transform: scale(0.9);
}
footer {
  background-color: var(--accent-color2);
  font-size: 1em;
  text-align: center;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 1.25em;
}
footer a {
  color: black;
  font-weight: bold;
}
footer i {
  color: green;
}

@media screen and (max-width: 576px) {
  body {
    font-size: 12px;
  }
  h2 {
    margin-left: 1em;
  }
  footer {
    display: none;
  }
}
