/* Variables */
:root {
  --baseShade1: #8c6a56;
  --baseShade2: #734f43;
  --whiteShade1: #ffffff;
  --whiteShade2: #efefef;
  --blackShade1: #1f2440;
  --blackShade2: #2c3359;

  --baseFontSize: 1.6rem;

  --headingFontSize1: 4rem;
  --headingFontSize2: 3.2rem;
  --headingFontSize3: 2rem;
  --headingFontSize4: 1.8rem;

  --borderRadius1: 1rem;
  --borderRadius2: 0.5rem;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:not(i) {
  font-family: 'Poppins', sans-serif;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background-color: gray;
}
/* Utility Classes */
/* Header */
header {
  position: fixed;
  width: 100%;
  padding: 3rem 5rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blue(0.8rem);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav a {
  font-size: var(--headingFontSize4);
  text-decoration: none;
}
nav a#logo {
  color: var(--blackShade1);
  font-weight: 700;
}
nav ul a {
  color: var(--whiteShade1);
}
/* SideMenu */
/* Sticky Header */
/* Section: Hero*/
/* Section: About */
/* Section: Features */
/* Section: Footer */
